/* Styles spécifiques au composant menu */

.no-hover:hover {
  background-color: #039CD3 !important;
  color: #ffffff !important;
}

.no-hover:hover .material-symbols-outlined {
  color: #ffffff !important;
}
