:root {
  font-family: "Bockhold Bold", sans-serif;
  font-weight: 700;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Bockhold Bold", sans-serif;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}
